@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CoMute</h1>
    <p>The Co-Mute project serves as a market place for commuters to form, find, and join car-pool opportunities.</p>
    
    <p>Please Login or Register to access information.</a>.</p>
</div>
